

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #8987A1;
}

body {
    background-color: #F5F8FF;
    
}
/* Primary color */
.primary-color {
    color: #4e47ff;
}
.header {
    background-image: url('../images/Hero-bg.png');
    width: 1440px;
    height: 700px;
    margin-top: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 0px 150px;
}
nav h3 {
    margin-top: 0px;
    padding-top: 24px;
    font-weight: 900;
    font-size: 34px;
}
.primary-btn {
    background-color: #4e47ff;
    border: none;
    border-radius: 8px;
    padding: 12px 36px;
    color: white;
    font-size: 16px;
}
nav a {
    text-decoration: none;
    
}
.hero-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 158px;
}
.hero-container h1 {
    font-size: 65px;
}
    
/* see it in section css */
.see-it-in-action-container {
    margin: 68px 184px 0px 151px;
    background-color: #F5F8FF;
}
.see-it-in-action {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.see-it-in-action-text { 
    padding: 62px 62px 205px 0px;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.action-text-heading {

    margin: 0px;
    font-size: 40px;
}
.action-text-p {
    margin-top: 0px;
    font-size: 24px;
}
    
.action-image {
    border-radius: 48px;
}
/* JOined Productive user css */
.joined-user-container {
    width: 1140px;
    height: 306px;
    margin: 0px 159px 116px 141px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7FF;
    border-radius: 24px;
}

.joined-user-container h3 {
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 38px;
}
.joined-user-stats {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px 142px 50px 142px;
    /* align-items: center; */
}

.joined-1stp {
    font-size: 80px;
    margin: 0px;
}
.joined-2ndp {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    color: #8987A1;
}

/* Our user say css */
.user-say-container {
    margin: 137px 150px 137px 151px;
    justify-content: center;
    align-items: center;
    background-color: #F5F8FF;
}
.user-say-container h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 42px;
}
.user-say-main {
    display: flex;
    gap: 20px;
}
.our-user-say {
    width: 360px;
    height: 210px;
    padding: 24px;
    background-color: #FAFCFF;
    border-radius: 14px;
}
.our-user-say img {
    margin-bottom: 0px;
    /* margin-right: 4px; */
    padding-bottom: 24px;
}
.our-user-say h3 {
    font-size: 24px;
    padding-bottom: 16px;
    margin: 0px;
    font-weight: 600;
}
.our-user-say-p{
    font-size: 16px;
    margin: 0px;
    font-weight: 400;
    color: #1E1E1E;
}
    
.reviewer {
    margin: 0px;
    display: flex;
    padding-bottom: 24px;
    margin-top: 24px;
    gap: 16px;
}
.reviewer-text{
   margin: 0px;

}
.reviewer img {

    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    border: 2px solid #ffffff;
    object-fit: cover;
}
.reviewer-text1 {
    padding-bottom: 6px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.reviewer-text2 {
    padding-bottom: 4px;
    margin: 0px;
    font-size: 16px;
    color: #B3B3B3;
}


/* Ready to focus better section */
.ready-to-focus-container {
    margin: 137px 149px 92px 151px;
    background-color: #FFFFFF;
    border-radius: 14px;
}
.ready-to-focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ready-to-focus h3 {
    margin: 0px;
    padding-top: 71px;
    padding-bottom: 20px;
    font-size: 50px;
}

.ready-to-focus img {
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin: 20px 150px 71px 150px;
}
.ready-to-focus p {
    margin: 0px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #8987A1;
}

/* Let's get in touch css */
.get-in-touch-container {
    margin: 93px 150px 14px 150px;
    
    background-color: #F5F8FF;
}
.get-in-touch {
    display: flex;
    justify-content: center;
    align-items: center;
}
label ,input, textarea, button {
    display: block;
    
}
label {
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: 497px;
    height: 70px;
    margin-bottom: 19px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    

}
textarea {
    width: 497px;
    margin-bottom: 19px;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
}
.get-in-touch h4 {
    font-size: 80px;
    justify-content: center;
    align-items: center;
    padding: 200px 115px 200px 0px;
}
.get-button {
    padding: 19px 201px 19px 201px;;
}

/* Footer section css */
.footer-container {
    background-color: #FFFFFF;
    margin-top: 14px;
    width: 1440px;
    height: 428px;
}
.footer-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 104px 454px 103px 454px;
}
.footer-all h3 {
    font-size: 34px;
    margin: 0px;
    padding-bottom: 8px;
    font-weight: 900;
}
.footer-all p {
    font-size: 16px;
    text-align: center;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 20px;
    color: #8987A1;

}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-links a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}